    <div class="col">
      <div class="card h-100">
        <img src= "{{file_path}}"class="card-img-top" alt="pseudo-random nature image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
        </div>
      </div>
    </div>    