    <div class="col-xs-12 col-md-6 col-lg-3 ">
      <div class="card h-100 border-light bg-secondary">
        <img src= "{{file_path}}"class="card-img-top" alt="pseudo-random nature image">
        <div class="card-body ">
          <h5 class="card-title text-light">{{name}}</h5>
        </div>
      </div>
    </div>    