<div class="container-fluid" >
  <div class="card" style="width: 80vw;">
    <img src="https://images.pexels.com/photos/1867601/pexels-photo-1867601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top"
      alt="Resource not found image">
    <div class="card-body">
      <p class="card-text">Be inspired by nature. Go to the homepage to start new adventures.</p>
    </div>
  </div>
</div>